<ion-view view-title="关于软件">
    <ion-content>
        <div class="padding-top-20 text-center">
            <img src="img/ionic.png" alt="">
            <p class="h6">版本号 1.0.0</p>
        </div>
        <div class="padding-top-20">
            <ion-list>
                <ion-item class="item-input">
                    <span class="input-label">作者</span>
                    <div>Jason</div>
                </ion-item>
                <ion-item class="item-input">
                    <span class="input-label">官网</span>
                    <div>尚未开始</div>
                </ion-item>
                <ion-item class="item-input">
                    <span class="input-label">联系方式</span>
                    <div>616026889(QQ)</div>
                </ion-item>
                <ion-item class="item-input">
                    <span class="input-label">gitHub地址</span>
                    <div class="auto-wrap">https://github.com/HeJason-lyon/MyApp.git</div>
                </ion-item>
                <ion-item class="item-input">
                    <span class="input-label">技术框架</span>
                    <div>AngularJs 1.X + ionic</div>
                </ion-item>
            </ion-list>
        </div>
    </ion-content>
</ion-view>