<ion-slide-box class="my-introduce" ng-hide="ms.isFirstUse">
    <ion-slide class="first">
        <div class="box go-index">
            <h2 class="text-center dark">引导页1</h2>
        </div>
    </ion-slide>
    <ion-slide class="second">
        <div class="box go-index">
            <h2 class="text-center dark">引导页2</h2>
        </div>
    </ion-slide>
    <ion-slide class="third">
        <div class="box text-center go-index">
            <h2 class="text-center dark" ng-click="ms.goIndex()">立即体验</h2>
            <!--<button class="button button-energized">立即开始</button>-->
        </div>
        <!--<button class="button button-assertive" ng-click="ms.goIndex()">进入</button>-->
    </ion-slide>
</ion-slide-box>