
<ion-tabs class="tabs-stable  tabs-icon-top" ng-class="{'tabs-item-hide' : isHideTabs}">
    <ion-tab  title="备忘" icon-on="ion-ios-home" icon-off="ion-ios-home" ui-sref="app.tabs.playlists">
        <ion-nav-view animation="slide-left-right" name="indexView">
            <!-- Center content -->
        </ion-nav-view>
    </ion-tab>

    <ion-tab  title="通讯录" icon-on="ion-chatboxes" icon-off="ion-chatboxes" ui-sref="app.tabs.contacts">        
        <ion-nav-view animation="slide-left-right" name="contactView">
            <!-- Center content -->
        </ion-nav-view>
    </ion-tab>

    <ion-tab title="关于" icon-on="ion-happy" icon-off="ion-happy-outline" ui-sref="app.tabs.about">
        <ion-nav-view animation="slide-left-right" name="aboutView">
            <!-- Center content -->
        </ion-nav-view>
    </ion-tab>
</ion-tabs>N